<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to "Private Events", root_path, class: "navbar-item ml-5 is-size-2" %>
      </div>

      <div class="navbar-menu is-active">
        <% if logged_in? %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <strong>Welcome <%= link_to "#{current_user.username}", current_user %></strong>
              <%= link_to "New Event", new_event_path, class: "button is-light ml-3"%>
              <%= link_to "Log out", destroy_session_path, method: "delete", class: "button is-primary ml-1"%>
              <% else %>
                <%= link_to "Log in", login_path, class: "button is-light"%>
                <%= link_to "Sign up", new_user_path, class: "button is-primary ml-5"%>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </nav>

    <div class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
